<header class="br-header">
    <div class="header-top container">
        <div class="header-logo">
            <a href="/" class="logo">
                <img src="/assets/logo.svg" alt="logo" width="64" height="40" />
            </a>
        </div>
        <nav class="header-actions">
            <a href="/" class="br-item text-nowrap">Apresentação</a>
            <a href="/quem-somos" class="br-item text-nowrap">Quem Somos</a>
            <a href="/projetos" class="br-item text-nowrap">Projetos</a>
            <a href="/noticias" class="br-item text-nowrap">Notícias</a>
            <a href="/editais" class="br-item text-nowrap">Editais</a>
            <a href="/contato" class="br-item text-nowrap">Contato</a>
        </nav>
    </div>
</header>