<section class="stats container inverted">
    <div class="row pt-2 pb-4">
        <div class="col-8">
            <h2 class="">{{page.estatisticas.titulo}}</h2>
            <p>{{page.estatisticas.descricao}}</p>
        </div>
        <div class="col-12 col-md-4">
            <div class="d-flex flex-wrap">
                {% for n in page.estatisticas.numeros %}
                <div class="col-6">
                    <h2 class="pb-0 mb-0">{{n[0]}}</h2>
                    <p>{{n[1]}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>