<section class="editais container pb-4 mb-4">
  <h6 class='p-0 mb-0'>EDITAIS</h6>
  <h2 class='pt-0 mt-0'>Acompanhe os processos seletivos</h2>
  <div class="row mt-0">
    {% for edital in site.data.editais | limit: 4 %}
    <div class="col-3">
      <a href="editais/{{edital.file}}">
      <img src="/assets/img/placeholder.svg" alt="placeholder" class="mr-2">
      </a>
      <p class="pb-0 mb-0">EDITAL {{edital.num}}</p>
      <a href="editais/{{edital.file}}">
      <h4 class="pt-0 mt-0">{{edital.title}}</h4>
      </a>
    </div>
    {% endfor %}
  </div>
</section>