<footer class="br-footer inverted pb-4 pt-4 mt-4">
    <div class="container-lg">
        <div class="row">
            <div class="footer-logo mr-6">
                <a href="/">
                    <img src="/assets/logo.svg" alt="logo" width="64" height="40" />
                </a>
            </div>
            <div class="copyright">
                O Laboratório de Aplicações de Vídeo Digital (LAVID) é um núcleo da Universidade Federal da Paraíba
                (UFPB).<br />
                ©️ LAVID, 2024. Todos os direitos reservados.
            </div>
        </div>
    </div>
</footer>
<div class="scroll-to-top show">
    <a href="#top">
        <button type="button" aria-label="Ir para o topo" class="br-button primary circle">
            <i aria-hidden="true" class="fa fa-chevron-up"></i>
        </button>
    </a>
</div>