<section class="hero container pt-2 pb-4">
    <div class="column pt-5">
        <div class="col-7 pb-3">
            <h1>Tecnologia digital para o desenvolvimento social</h1>
            <p>O Laboratório de Aplicações de Vídeo Digital (LAVID) da Universidade Federal da Paraíba (UFPB) é referência em pesquisa, desenvolvimento e inovação nas áreas de Vídeo Digital, Redes de Computadores, TV Digital Interativa e Middleware.</p>
            <p>Além do compromisso com a inovação no ambiente acadêmico, o LAVID desempenha um importante papel social, ao promover ações que disseminam o conhecimento produzido no laboratório e visam garantir a inclusão digital.</p>
        </div>
        <div class="col-7 pb-5">
            <a href="/quem-somos" class="br-button primary mr-2">Conheça o LAVID</a>
            <a href="/contato" class="br-button secondary">Entre em contato</a>
        </div>
    </div>
</section>