<section class="stats container inverted">
    <div class="row pt-2 pb-4">
        <div class="col-8">
            <h2 class="">Mais de 20 anos formando pesquisadores e promovendo inovação</h2>
            <p>Desde 2003, o Laboratório de Aplicações de Vídeo Digital (LAVID) tem contribuído com a formação de profissionais qualificados e a inovação tecnológica, mediante participação em eventos nacionais e internacionais, além do desenvolvimento de softwares e patentes.</p>
        </div>
        <div class="col-12 col-md-4">
            <div class="d-flex flex-wrap">
                <div class="col-6">
                    <h2 class="pb-0 mb-0">20+</h2>
                    <p>anos de atuação</p>
                </div>
                <div class="col-6">
                    <h2 class="pb-0 mb-0">100+</h2>
                    <p>projetos desenvolvidos</p>
                </div>
                <div class="col-6">
                    <h2 class="pb-0 mb-0">10+</h2>
                    <p>prêmios recebidos</p>
                </div>
                <div class="col-6">
                    <h2 class="pb-0 mb-0">50+</h2>
                    <p>pesquisadores</p>
                </div>
            </div>
        </div>
    </div>
</section>