<section class="contact container-lg text-center p-4">
  <h6 class="mb-0">CONTATO</h3>
    <h2 class="mt-0 mb-0">Tem dúvidas ou sugestões?</h2>
    <a href="mailto:contato@lavid.ufpb.br" class="br-button secondary">
      Fale conosco
    </a>
    <div class="contact-info mt-3 pb-4">
      <label>
        <div>
          <a href="mailto:contato@lavid.ufpb.br" class="mr-2">
            <i class="icon fa fa-envelope blue"></i> contato@lavid.ufpb.br
          </a>
          <a href="tel:+558332167093" class="mr-3">
            <i class="icon fa fa-phone green"></i> +55 83 3216-7093
          </a>
          <a href="https://instagram.com/lavidufpb" target="_blank" rel="noopener">
            <i class="icon fab fa-instagram red"></i> @lavidufpb
          </a>
        </div>
        <div>
          <a href="https://maps.app.goo.gl/UhjXprHbrWDymKEYA" target="_blank" rel="noopener" class="mt-6">
            <i class="icon fa fa-map-marker-alt"></i> Universidade Federal da Paraíba, Rua dos Escoteiros, s/n,
            Mangabeira,
            João Pessoa - PB. CEP 58055-000
          </a>
      </label>
    </div>
    </div>
</section>