<section class="stats container inverted">
    <div class="row pt-2 pb-4">
        <div class="col-8">
            <h2 class="">Mais de 20 anos formando pesquisadores e promovendo inovação</h2>
            <p>Desde 2003, o Laboratório de Aplicações de Vídeo Digital (LAVID) tem contribuído com a formação de profissionais qualificados e a inovação tecnológica, mediante participação em eventos nacionais e internacionais, além do desenvolvimento de softwares e patentes.</p>
        </div>
        <div class="col-12 col-md-4">
            <div class="d-flex flex-wrap">
                {% for stat in site.data.stats %}
                <div class="col-6">
                    <h2 class="pb-0 mb-0">{{stat.num}}+</h2>
                    <p>{{stat.label}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>