<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>LAVID/UFPB - Núcleo de Pesquisa e Extensão</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{{ " /assets/css/styles.css" | relative_url }}" />
  <script src="{{ " /assets/js/scripts.js" | relative_url }}"></script>
</head>

<body>
  <nav id="skip-links" class="br-skiplink" role="menubar">
    <a class="br-item" href="#main-content" role="menuitem" accesskey="1">Ir para o conteúdo <span
        aria-hidden="true">(1/4)</span> <span aria-hidden="true" class="br-tag text ml-1">1</span></a>
    <a class="br-item" href="#header-navigation" role="menuitem" accesskey="2">Ir para o menu <span
        aria-hidden="true">(2/4)</span> <span aria-hidden="true" class="br-tag text ml-1">2</span></a>
  </nav>
  <header class="br-header" id="header" data-sticky="data-sticky">
    <div class="container-lg">
      <div class="header-top">
        <div class="header-logo">
          <a href="/" class="no-hover">
            <img src="/assets/logo.svg" alt="logo" width="64" height="40" />
          </a>
        </div>
        <div class="header-actions">
          <div class="header-links dropdown">
            <button class="br-button circle small" type="button" data-toggle="dropdown"
              aria-label="Abrir Acesso Rápido">
              <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <div class="br-list">
              <a class="br-item px-3 py-2" href="/quem-somos">Quem Somos</a>
              <a class="br-item px-3 py-2" href="/projetos">Projetos</a>
              <a class="br-item px-3 py-2" href="/editais">Editais</a>
              <a class="br-item px-3 py-2" href="/noticias">Notícias</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main id="main" class="d-flex flex-fill">
    <div class="container-lg">
      <div id="main-content" class="main-content pl-sm-3">
        {{ content }}
      </div>
    </div>
  </main>

  <footer id="footer" class="br-footer inverted p-4">
    <div class="container-lg d-flex align-items-center">
      <div class="footer-logo mr-6">
        <a href="/" class="no-hover">
          <img src="/assets/logo.svg" alt="logo" width="64" height="40" />
        </a>
      </div>
      <div class="info text-left">
        O Laboratório de Aplicações de Vídeo Digital (LAVID) é um núcleo da Universidade Federal da Paraíba
        (UFPB).<br />
        ©️ LAVID, 2024. Todos os direitos reservados.
      </div>
    </div>
    <div class="scroll-to-top show">
      <a href="#top">
        <button type="button" aria-label="Ir para o topo" class="br-button primary circle">
          <i aria-hidden="true" class="fa fa-chevron-up"></i>
        </button>
      </a>
    </div>
  </footer>
  {%- include vlibras.html -%}
  <script src="/assets/js/core-init.min.js"></script>
</body>

</html>