---
layout: page
---
<article class="noticia container-lg mt-6 mb-6">
    <h6 class="mb-0">{{ page.chapeu | upcase }}</h6>
    <h1 class="mb-2">{{ page.titulo | escape }}</h1>
    <p class="mt-4">{{ page.resumo | escape }}</p>
    <p class="date">Publicada em {{ page.publicada_em | date:"%d/%m/%Y" }} {% if page.atualizada_em %} ・Atualizada em {{page.atualizada_em}} {% endif %} </p>
    <p class="share">
        <a href="https://api.whatsapp.com/send?text={{page.url|absolute_url}}"><i class="fab fa-whatsapp"></i> Compartilhar</a>
        <a href="{{page.url|absolute_url}}" class="link-clipboard" onclick="event.preventDefault()"><i class="fas fa-link"></i> Copiar link</a>
        <script>new ClipboardJS('.link-clipboard', { text: function(trigger) { return trigger.getAttribute('href'); }
            });
        </script>
    </p>
    <figure class="col-8 m-auto pb-6">
        <img src="/imagens/noticias/{{page.imagem}}" alt="{{ page.title }}" width="100%" />
        <figcaption>{{ page.legenda }}</figcaption>
    </figure>

    {{ content }}

</article>