--- 
--- 
@import url("https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css";
@import 'core.min.css';

:root {
  --interactive-light: var(--blue-80);
  --interactive-dark: var(--blue-90);
}

a {
  text-decoration: none !important;
}

.hero {
  background-image: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stats,
.contact {
  background-image: url('../img/bg.svg');
  background-color: var(--interactive-light);
  background-repeat: no-repeat;
  background-size: cover;

  h2,
  h6,
  p,
  a {
    color: var(--color-dark);

    &.br-button {
      color: var(--color-light);
    }
  }
}

.editais {
  h6 {
    color: var(--blue-50);
  }
}

.noticias {
  h6 {
    color: var(--red-50);
  }
}

.projects {
  .br-card {
    height: 100px;
  }

  .card-content {
    color: var(--green-50);
  }

  h6 {
    color: var(--green-50);
  }

  h2 {
    color: var(--pure-black);
  }
}

label {
  .blue {
    color: var(--blue-30);
  }

  .green {
    color: var(--green-30);
  }

  .red {
    color: var(--red-30);
  }
}

.editais,
.noticias {
  h4 {
    font-size: var(--font-size-scale-up-02);
  }

  p {
    font-size: var(--font-size-scale-base);
  }
}

.page {
  h1 {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      width: 60px;
      /* Largura da linha */
      height: 6px;
      /* Altura da linha */
      background-color: var(--blue-50);
      /* Cor da linha */
      position: absolute;
      bottom: -16px;
      left: 0;
    }
  }

  p {
    img {
      float: left;
      margin-right: 18px;
    }
  }
}

article {
  h6 {
    color: var(--red-50);
  }

  h1 {
    font-weight: 700;
  }

  p.date {
    color: var(--gray-40);
  }

  .list {
    .subtitulo {
      color: var(--gray-60);
    }

    .data {
      color: var(--gray-60);
    }
  }
}

.container-img {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 ratio */
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

img {
  &.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    object-fit: cover;
  }
}

.header-logo {
  a {
    &:hover {
      background-image: none;
    }
  }
}

.scroll-to-top {
  bottom: 5px;
  opacity: 0;
  position: fixed;
  right: 5px;
}

.scroll-to-top.show {
  opacity: 1;
}

.cabecalho-linha {
  padding-bottom: 24px;
  
  .outstanding-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0 !important;
    text-transform: uppercase;

  .outstanding-title {
    color: #333 !important;
    font-size: 16px !important;
    font-weight: bold;
    margin: 0 !important;
    padding: 0 12px;
    white-space: nowrap;
  }

  &::after,
    &::before {
      background: #ccc;
      content: '';
      height: 1px;
      width: 100%;
    }
  }
}